# Copy this file to .env (it will be loaded by Next.js and Prisma)
#
# When running with Docker Compose, the hostname is "db" (the service name).
# When running Next.js locally (npm run dev) but Postgres in Docker,
# use "localhost" instead of "db".
DATABASE_URL="postgresql://student:student@db:5432/learn?schema=public"
